<!-- 
<div class="container-fluid">
<div class="row" style="height: 10vh;">
    <div class="col-lg-2">
        <img src="assets/Images/logo1.png">
      
    </div>
    <div class="col-lg-5">
       
    </div>
    <div class="col-lg-4" id="vidpagehead">
        <img src="assets/Images/logout.png" title="logout"
            style="float: right;padding: 2%;cursor: pointer;height:62px;margin-top: 9px;" (click)="clear()"><br>
       
    </div>
</div>
</div> -->

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2">
            <img src="assets/Images/logo1.png">
        </div>
        <div class="col-lg-8"></div>
        <div class="col-lg-2">
            <img src="assets/Images/logout.png" title="logout"
            style="float: right;padding: 2%;cursor: pointer;height:62px;margin-top: 9px;" (click)="clear()"><br>
        </div>

    </div>
</div>