<div class="row" style="height: 10vh;">
    <div class="col-lg-2">
        <img src="assets/Images/logo1.png">
        <!-- 
        <img src="assets/Images/ham.png" *ngIf="showsidebar1==0" (click)="openNav1()"
        style="margin-left: 1%;float: right;height:30px;margin-top: 21px;">
    <img src="assets/Images/ham.png" *ngIf="showsidebar1==1" (click)="closeNav2()"
        style="margin-left: 1%;float: right;height:30px;margin-top: 21px;"> -->
    </div>
    <div class="col-lg-6">
        <!-- <marquee *ngFor="let noti of docnoti" style="margin-top:18px;color:red">{{noti.description}}</marquee> -->
    </div>
    <div class="col-lg-4" id="vidpagehead">
        <img src="assets/Images/logout.png" title="logout"
            style="float: right;padding: 2%;cursor: pointer;height:62px;margin-top: 9px;" (click)="clear()"><br>
        <!-- <img src="assets/Images/logout.png" title="{{labels[0].logout}}"
            style="float: right;padding: 2%;cursor: pointer;height:62px;margin-top: 9px;" (click)="clear()"><br>
        <span class="badge" style="float: right;cursor: pointer;background-color: green;color: aliceblue;
            margin-left: 0%;">{{notificationcount}}</span>
        <img src="assets/icons/bell.png" data-toggle="modal" data-target="#notification"
            style="float: right;cursor: pointer;height: 34px;">
        <label style="float: right;padding: 1%;cursor: pointer;height:80px;">{{labels[0].welcome}},
            <b>{{user}}</b></label> -->
    </div>
</div>