<div class="container-fluid card card:hover headerrspace">
  <div class="row headerspace" style="margin-top: 10px;">
    <div class="col-lg-3">
      <h5>Orders</h5>
    </div>
    <div class="col-lg-7">
    </div>

    <div class="col-lg-2">
      <!-- <button type="button" routerLink="/NewAppointment" style="float: right;background-color:  #f18235;color: white;"
          *ngIf="recpid!=undefined" class="btn btncolor">{{labels[0].newAppointment}}</button> -->
    </div>

  </div>
</div><br>
<div class="container-fluid card card:hover">
  <!-- <div class="row" style="margin-top: 20px;">
      <div class="col-lg-3">
       
        <input *ngIf="languageid==1" type="text" placeholder="Select Date" [bsConfig]="{ showWeekNumbers:false }"
          class="form-control" [(ngModel)]="value" (ngModelChange)="selectedDate($event)" [(bsValue)]="myDateValue"
          bsDaterangepicker>
        <input *ngIf="languageid==6" type="text" placeholder="Sélecteur de date" [bsConfig]="{ showWeekNumbers:false }"
          class="form-control" [(ngModel)]="value" (bsValueChange)="selectedDate($event)" [(bsValue)]="myDateValue"
          bsDaterangepicker>
  
      </div>
      <div class="col-lg-3">
        <input type="text" class="form-control" placeholder="{{labels[0].search}}" [(ngModel)]="term">
      </div>
    </div><br> -->
  <div class="row">
    <div class="col-lg-12" style="overflow-y: auto;height:200vh">
      <table>
        <thead>
          <tr>
            <th id="imp">Order Date</th>
            <!-- <th id="imp">{{labels[0].diaAppointmentType}}</th> -->
            <th id="imp">Slot</th>
            <th id="imp">Order Number</th>
            <th>Patient Name</th>
            <th>Phone No</th>

            <th>Email</th>
            <th>Address</th>
            <th>Assigned To</th>
            <th>Status</th>
            <th>Action</th>
          
            <!-- <th>{{labels[0].patientname}}</th>
              <th>{{labels[0].phoneNo}}</th> -->
            <!-- <th>{{labels[0].emailId}}</th> -->
            <!-- <th>{{labels4[0].bookedpatientphno}}</th>
            <th>{{labels[0].address}}</th>
            <th>{{labels[0].homeSample}}</th>
            <th>{{labels[0].assignedname}}</th>
            <th>{{labels[0].paymentType}}</th>
            <th>{{labels[0].paidAmount}}</th>
            <th>{{labels[0].details}}</th>
            <th>{{labels[0].status}}</th>
            <th>{{labels[0].actions}}</th> -->
          </tr>
          <tr *ngFor="let details of diagnosticlist">
            <td>{{details.date| date :'short' }}</td>
            <!-- <td>{{details.appointmentTypeText}}</td> -->
            <td>{{details.slotTime}}</td>
            <td>{{details.id}}</td>
            <td>{{details.patientName}}</td>
            <td>{{details.mobileNumber}}</td>
            <td>{{details.emailID}}</td>
            <td>{{details.relationaddress}}</td>
            
            <td><label *ngIf="details.name==null" >Not Yet Assigned</label>
              <label *ngIf="details.name!=null" >{{details.name}}</label>
            </td>
            <td><label *ngIf="details.deliverPatnerAssigned!='1'" >Not Yet Assigned</label>
              <label *ngIf="details.deliverPatnerAssigned=='1'">Assigned</label>
            </td>
            <td><button *ngIf="details.deliverPatnerAssigned!='1'" class="addbtns" data-toggle="modal"
              data-target="#Order" (click)="getdiagnosticAppointmentsbyid(details.id)"  type="button" >Assign</button>&nbsp;
              <button  *ngIf="details.deliverPatnerAssigned=='1'"  class="addbtns" data-toggle="modal"
               (click)="getdiagnosticAppointmentsbyid(details.id)"  style="margin-left: -15px;" type="button" >&#10003; Assigned </button>
            </td>
           
              <!-- {{details.assinedname}}
            </td>


            <td>
              {{details.paymentName}}
            </td>

            <td>
              {{details.paidAmount}}
            </td> -->
              <!-- <td>
                <ng-template #tipcontent18>{{labels[0].tests}}</ng-template>
                <a [ngbTooltip]="tipcontent18">
                  <img src="assets/Images/test1.png" *ngIf="details.testsCount!=0" data-toggle="modal"
                    data-target="#exampleModal2" style="height:20px;"
                    (click)="GetTestsID(details.id,details.hideupdate,details)">
                </a>&nbsp;
                <ng-template #tipcontent20>{{labels[0].packages}}</ng-template>
                <a [ngbTooltip]="tipcontent20" *ngIf="details.packageCount!=0">
                  <img src="assets/Images/pack1.png" data-toggle="modal" data-target="#exampleModal3" style="height:20px;"
                    (click)="GetPackageID(details.id)">&nbsp;
                </a>
                <ng-template #tipcontent2045>Photo</ng-template>
                <a [ngbTooltip]="tipcontent2045">
                  <img src="assets/Images/phaprescripton.png"
                    *ngIf="details.appointmentType=='2'&&details.photoexist=='1'" data-toggle="modal"
                    data-target="#exampleModal6" style="height:20px;" (click)="GetAttachments(details.id)"></a>
  
                <ng-template #tipcontent2094>Pdf</ng-template>
                <a [ngbTooltip]="tipcontent2094" *ngIf="details.appointmentType=='2'&&details.fileAvailableBit=='1'">
                  <img src="assets/Images/pdf.png" style="height:20px;" (click)="GetPdf(details.fileUrl)"></a>
  
              </td>
   -->
              <!-- <td>
                <label
                  *ngIf="details.acceptedBit=='1'&&details.cancelled=='0'&&details.diagnosticCancelled=='0'&&details.approved=='0'&&details.notVisited=='0'&&details.deliverPatnerAssigned=='0'&&details.paymentType=='0'&&details.hideupdate=='0'&&details.rejected=='0'"
                  style="color: green;">{{labels[0].accepted}}</label>
                <label
                  *ngIf="details.diagnosticCancelled=='1'||details.rejected=='1'&&details.approved=='0'&&details.acceptedBit=='0'&&details.notVisited=='0'"
                  style="color: red;">{{labels[0].cancelled}}</label>
                <label
                  *ngIf="details.cancelled=='1'||details.rejected=='1'&&details.approved=='0'&&details.acceptedBit=='0'&&details.notVisited=='0'"
                  style="color: red;">{{labels[0].patientCancelled}}</label>
                <label *ngIf="details.rejected=='1'&&details.samplesCollected=='0'" style="color: red;">{{labels[0].labtechrejected}}</label>
  
                <label *ngIf="details.accepted=='1'&&details.approved=='0'&&details.samplesCollected=='0'&&details.uploadedBit=='0'" style="color: green;">{{labels[0].technitianAccepted}}</label>
  
  
                <label *ngIf="details.accepted=='1'&&details.approved=='0'&&details.samplesCollected=='1'&&details.uploadedBit=='0'" style="color: green;">{{labels[0].samplesCollected}}</label>
                <label *ngIf="details.approved=='1'&&details.uploadedBit=='0'&&details.rejected=='0'"
                  style="color: yellowgreen;">{{labels[0].visited}}</label>
                <label *ngIf="details.approved=='1'&&details.uploadedBit=='1'&&details.rejected=='0'"
                  style="color: yellowgreen;">{{labels[0].reportdelivered}}</label>
  
                <label *ngIf="details.notVisited=='1'" style="color: rgba(153, 205, 50, 0);">{{labels[0].notVisited}}</label>
  
                <label
                  *ngIf="details.acceptedBit=='1'&&details.cancelled=='0'&&details.diagnosticCancelled=='0'&&details.approved=='0'&&details.notVisited=='0'&&details.paymentType=='0'&&details.deliverPatnerAssigned=='0'&&details.hideupdate=='1'&&details.rejected=='0'"
                  style="color: green;">{{labels[0].pricesenttopatient}}</label>
  
                <label
                  *ngIf="details.acceptedBit=='1'&&details.cancelled=='0'&&details.diagnosticCancelled=='0'&&details.approved=='0'&&details.notVisited=='0'&&details.paymentType!='0'&&details.deliverPatnerAssigned=='0'&&details.paymentType=='3'&&details.rejected=='0'"
                  style="color: green;">{{labels[0].codPayment}}</label>
  
                <label
                  *ngIf="details.acceptedBit=='1'&&details.cancelled=='0'&&details.diagnosticCancelled=='0'&&details.approved=='0'&&details.notVisited=='0'&&details.paymentType!='0'&&details.deliverPatnerAssigned=='0'&&details.paymentType!='3'&&details.rejected=='0'"
                  style="color: green;">{{labels[0].readyfordelivery}}</label>
  
                <label
                  *ngIf="details.acceptedBit=='1'&&details.cancelled=='0'&&details.diagnosticCancelled=='0'&&details.approved=='0'&&details.notVisited=='0'&&details.deliverPatnerAssigned=='1'&&details.rejected=='0'&&details.accepted=='0'"
                  style="color: green;">{{labels[0].assigned}}</label>
              </td> -->
            
          </tr>
        </thead>
      </table><br>
    </div><br><br>
  </div><br><br><br>
  <div class="col-lg-12" style="text-align: center">
    <br>

  </div><br>


  <div id="Order" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Assign phemonatinist</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-3">
                        <label style="font-size: 16px;"> phemonatinist</label>
                    </div>
                    <div class="col-lg-6">
                        <select class="form-control" id="staffid" name="staffid"
                            [(ngModel)]="staffid" required>
                            <option value="0">Select phemonatinist</option>
                            <option *ngFor="let Sites of myteamlist" value="{{Sites.id}}">{{Sites.name}}</option>
                        </select>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-3">
                        <label style="font-size: 16px;">Comments</label>
                    </div>
                    <div class="col-lg-6">
                        <textarea rows="3" [(ngModel)]="Comments" id="Comments" name="Comments"
                            class="form-control" placeholder="Comments"></textarea>
                    </div>
                </div>

                <br>
                <div class="row">
                    <div class="col-lg-5"></div>
                    <div class="col-lg-3">
                        <button type="button" class="btn btn-danger" data-dismiss="modal"
                            (click)="UpdateOrders()">Assign</button>
                    </div>
                    <div class="col-lg-3"></div>

                </div>
                <br>

            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-secondary" data-dixsiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>