<div class="container-fluid" *ngIf="temp=='1'">

  <app-header></app-header>


  <div class="row">
    <div class="col-lg-2" style="height: 120vh;overflow-y: auto;background-color: Navy;" id="sidbarid">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-lg-10" style="overflow-y: auto;background-color: #ececec;">
      <br>
      <router-outlet></router-outlet>
      <br>
    </div>
  </div>

</div>
<div class="container-fluid" *ngIf="temp!='1'">

  <div class="row">
    <div class="col-lg-12" style="overflow-y: auto;background-color: #ececec;">
      <br>
      <router-outlet></router-outlet>
      <br>
    </div>
  </div>

</div>