<div class="container-fluid card card:hover headerrspace">
  <div class="row headerspace" style="margin-top: 10px;">
    <div class="col-lg-3">
      <h5>Assigned Appointments</h5>
    </div>
    <div class="col-lg-7">
    </div>

    <div class="col-lg-2">
      <!-- <button type="button" routerLink="/NewAppointment" style="float: right;background-color:  #fa0300;color: white;"
            *ngIf="recpid!=undefined" class="btn btncolor">{{labels[0].newAppointment}}</button> -->
    </div>

  </div>
</div><br>
<div class="container-fluid card card:hover">
  <!-- <div class="row" style="margin-top: 20px;">
        <div class="col-lg-3">
         
          <input *ngIf="languageid==1" type="text" placeholder="Select Date" [bsConfig]="{ showWeekNumbers:false }"
            class="form-control" [(ngModel)]="value" (ngModelChange)="selectedDate($event)" [(bsValue)]="myDateValue"
            bsDaterangepicker>
          <input *ngIf="languageid==6" type="text" placeholder="Sélecteur de date" [bsConfig]="{ showWeekNumbers:false }"
            class="form-control" [(ngModel)]="value" (bsValueChange)="selectedDate($event)" [(bsValue)]="myDateValue"
            bsDaterangepicker>
    
        </div>
        <div class="col-lg-3">
          <input type="text" class="form-control" placeholder="{{labels[0].search}}" [(ngModel)]="term">
        </div>
      </div><br> -->
  <div class="row">
    <div class="col-lg-12" style="overflow-y: auto;height:200vh">
      <br>
      <table>
        <thead>
          <tr>
            <th id="imp">Appointment Date</th>
            <!-- <th id="imp">{{labels[0].diaAppointmentType}}</th> -->
            <th id="imp">Appointment Time</th>
            <th id="imp">Appointment ID</th>
            <th>Appointment Type</th>
            <th>Patient Name</th>
            <th>Phone No</th>
            <th>Email</th>
            <th>Address</th>
            <th>Assigned To</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
          <tr *ngFor="let details of diagnosticlist">
            <td>{{details.date| date }}</td>
            <!-- <td>{{details.appointmentTypeText}}</td> -->
            <td>{{details.slotTime}}</td>
            <td>0000{{details.id}}</td>
            <td>
              <label *ngIf="details.homeSampleBit==1">Visiting Center</label>
              <label *ngIf="details.homeSampleBit==0">Home Sample Collection</label>
            </td>
            <td>{{details.patientName}}</td>
            <td>{{details.mobileNumber}}</td>
            <td>{{details.emailID}}</td>
            <td>{{details.address}}</td>
            <!-- <td>
                <label *ngIf="details.homeSampleBit=='1'&&details.diagnosticSlotID!='0'">{{labels[0].yes}}</label>
                  <label *ngIf="details.homeSampleBit=='0'&&details.diagnosticSlotID!='0'">{{labels[0].no}}</label>
                  <label *ngIf="details.homeSampleBit=='1'&&details.appointmentType=='2'">{{labels[0].yes}}</label>
                  <label *ngIf="details.homeSampleBit=='0'&&details.appointmentType=='2'">{{labels[0].no}}</label>
              </td> -->


            <td><label *ngIf="details.name==null">Not Yet Assigned</label>
              <label *ngIf="details.name!=null">{{details.name}}</label>
            </td>
            <td>
              <label *ngIf="details.deliverPatnerAssigned!='1' && details.acceptedBit==null">Not Yet Assigned</label>
              <label
                *ngIf="details.deliverPatnerAssigned=='1' && details.acceptedBit=='1' && details.phledAccepted==null">Assigned
                To
                Phlebotomist</label>
              <label *ngIf="details.phledAccepted=='1' && details.deliverPatnerAssigned=='1' && details.phledCompleted==null">Phlebotomist
                Accepted</label>
              <label *ngIf="details.phledCompleted=='1' && details.deliverPatnerAssigned=='1'">Phlebotomist
                Completed</label>
            </td>
            <td>
              <button class="addbtns" data-toggle="modal" data-target="#Order"
                (click)="getdiagnosticAppointmentsbyid(details.id)" type="button">Upload Report</button>

              <br /><br />

            </td>
          </tr>
        </thead>
      </table><br>
    </div><br><br>
  </div><br><br><br>
  <div class="col-lg-12" style="text-align: center">
    <br>

  </div><br>


  <div id="Order" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Upload Report</h5>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-3">
              <label style="font-size: 16px;"> phemonatinist</label>
            </div>
            <div class="col-lg-6">
              <ngx-dropzone [multiple]="false" (change)="onattachmentUpload($event)" class="dropzone_vendorinvoice">
                <ngx-dropzone-label>Upload Attachment</ngx-dropzone-label>
              </ngx-dropzone>
              <div>
                <span>
                  <!-- <img src="{{photo}}" style="height:70px;width:50px">&nbsp; -->
                </span>
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-3">
              <label style="font-size: 16px;">Comments</label>
            </div>
            <div class="col-lg-6">
              <textarea rows="3" [(ngModel)]="Comments" id="Comments" name="Comments" class="form-control"
                placeholder="Comments"></textarea>
            </div>
          </div>

          <br>
          <div class="row">
            <div class="col-lg-5"></div>
            <div class="col-lg-3">
              <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="UploadReport()">Upload</button>
            </div>
            <div class="col-lg-3"></div>

          </div>
          <br>

        </div>
        <div class="modal-footer">
          <button type="button" data-dismiss="modal" class="btn btn-secondary" data-dixsiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>