<div class="container-fluid" id="mySidenav">
    <div class="row tab">
        <a data-toggle="collapse" class="togglebtn button" data-target="#AdminReports">
            <img src="assets/Images/docreg.png" style="width: 20px;">&nbsp; Diagnostic
        </a>
        <div id="AdminReports" class="collapse">
            <a class="tablinks" (click)="highlight($event)" routerLink="/Dignosticdashboard">
                <img src="assets/Images/hos.png" style="width: 15px;margin-left: 18px;">&nbsp; &nbsp; Registered
                Diagnostic
            </a>
        </div>
    </div>
</div>