<div class="container-fluid sidenav" id="mySidenav">
    <br/>
    <div class="row tab">
       
        <a data-toggle="collapse" class="button" data-target="#AdminReports">
            <img src="assets/Images/docreg.png" style="width: 20px;">&nbsp;<label class="sidebaritems">
                Diagnostic</label>
        </a><br/>
        
        <div id="AdminReports" class="collapse">
            
            <a class="tablinks" (click)="highlight($event)" routerLink="/Dignosticdashboard">
                <img src="assets/Images/hos.png" style="width:8%" >&nbsp;  <label class="sidebaritems">Registered
                    Diagnostic</label>
            </a>
        </div>
       
  
    
        <a data-toggle="collapse" class="button" data-target="#Master">
            <img src="assets/Images/docreg.png" style="width: 20px;">&nbsp;<label class="sidebaritems">
                Masters</label>
        </a><br/>
         
       
        <div id="Master" class="collapse">
            <a class="tablinks" (click)="highlight($event)" routerLink="/CountryMasterDash">
                <img src="assets/Images/hos.png" style="width:8%" >&nbsp;  <label class="sidebaritems">Country
                    Master</label>
            </a>

            <a class="tablinks" (click)="highlight($event)" routerLink="/ProvinceMasterDash">
                <img src="assets/Images/hos.png" style="width:8%" >&nbsp;  <label class="sidebaritems">Province
                    Master</label>
            </a>


            <a class="tablinks" (click)="highlight($event)" routerLink="/CityMasterDash">
                <img src="assets/Images/hos.png" style="width:8%" >&nbsp;  <label class="sidebaritems">City
                    Master</label>
            </a>
          
            <a class="tablinks" (click)="highlight($event)" routerLink="/Orders">
                <img src="assets/Images/hos.png" style="width:8%" >&nbsp;  <label class="sidebaritems">Orders
                    </label>
            </a>
          
           
        </div>
    </div>
</div>